{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-syntax-jsx",
    [
      "import", {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
