.extraContent {
  width: 195px;
  position: absolute;
  top: 35px;
  right: 70px;
  img {
    width: 100%;
  }
}

.content {
  margin-top: 16px;
  margin-bottom: -8px;
  a {
    margin-right: 16px;
    font-size: 14px;
  }
  i {
    margin-right: 4px;
  }
}