@import '../antdStyle.scss';

.main {
    height: 100%;
    width: 100%;
    background: #282c34;
    text-align: center;
    overflow: hidden;
    .container {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    @include antdStyle;
}
