@text-color: rgba(0, 0, 0, 0.65);
@text-color-light: rgba(0, 0, 0, 0.45);
@text-color-darken: rgba(0, 0, 0, 0.85);

@shadow-gray-color: 0 3px 8px 0 rgba(189, 189, 189, 0.6);

@success-color: #52c41a;
@error-color: #f5222d;
@warning-color: #faad14;
@progress-color: #308ee0;

@border-color: #f2f2f2;

@spacing-mini: 4px;
@spacing-small: 8px;
@spacing-normal: 12px;
@spacing-middle: 16px;
@spacing-large: 24px;
@spacing-huge: 36px;

@white-color: #ffffff;
@white-color-dark: #f3f3f3;
@white-color-dark-extra: darken(@white-color-dark, 6.5%);

@black-color: #000000;
@gray-color: fade(@black-color, 33.5%);
@gray-color-lighter: #e8e8e8;
