@import '~antd/lib/style/themes/default.less';

@primary-color: #fb4491;
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@component-background: #ffffff; // 组件背景色
@border-color-base: hsv(0, 0, 85%); // base border outline a component
@border-color-split: hsv(0, 0, 94%); // split border inside a component
@popover-background: #ffffff;
@popover-customize-border-color: hsv(0, 0, 94%);
@select-selection-item-bg: hsv(0, 0, 96%);
@item-hover-bg: #f5f5f5;
@background-color-light: hsv(0, 0, 98%);
@background-color-base: hsv(0, 0, 96%);

:root,
body {
  --body-background: #f3f3f3;
  --navigator-background: #ffffff;
  --popover-background: #ffffff;
  --component-background: @component-background;

  --text-color: @text-color;
  --text-color-secondary: @text-color-secondary;
  --heading-color: @heading-color;

  --border-color: #f2f2f2;
  --shadow-color: rgba(189, 189, 189, 0.6);

  --primary: @primary-color;
  --primary-lighten: lighten(@primary-color, 8%);
  --primary-lightener: lighten(@primary-color, 20%);
  --primary-lightener-extra: lighten(@primary-color, 33.5%);
  --primary-darken: darken(@primary-color, 8%);

  --antd-slider-active: tint(@primary-color, 50%);
  --antd-slider-focus: tint(@primary-color, 20%);
  --antd-slider-focus-shadow: fade(@primary-color, 12%);
  --antd-select-focus-shadow: fade(@primary-color, 20%);
}
