@import '~antd/lib/style/themes/default.less';

@primary-color: #fb4491;

:root,
body {
  --primary: @primary-color;
  --primary-lighten: lighten(@primary-color, 8%);
  --primary-lightener: lighten(@primary-color, 20%);
  --primary-lightener-extra: lighten(@primary-color, 33.5%);
  --primary-darken: darken(@primary-color, 8%);

  --antd-slider-active: tint(@primary-color, 50%);
  --antd-slider-focus: tint(@primary-color, 20%);
  --antd-slider-focus-shadow: fade(@primary-color, 12%);
  --antd-select-focus-shadow: fade(@primary-color, 20%);
}
