.header {
  color: $color-white;
  height: 60px;
  background: $color-white;
  border-bottom: 1px solid #f5f5f5;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 255px;
  text-align: left;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;

  &.collapsed {
    left: 80px;
  }

  &.isMobile {
    left: 0;
  }

  .foldIcon {
    font-size: 18px;
    margin-left: 32px;
    color: #666;
    cursor: pointer;
  }

  .rightPart {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .userInfo {
    color: $color-text;
    display: flex;
    font-size: 14px;
    height: 100%;
    & > span {
      font-weight: bold;
    }

    .userIcon {
      font-size: 18px;
      font-weight: bold;
      margin-right: 8px;
    }

    .userDropdown {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 8px;
      transition: all 0.3s;
      &:hover {
        background: rgba(0, 0, 0, 0.025);
        color: $color-primary;
      }
    }

    .clock .text,
    .userDropdown .text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .clock {
      display: flex;
      align-items: center;
      padding: 0 8px;

      .clockIcon {
        margin-top: -2px;
      }

      .text {
        display: inline-block;
        margin-left: 8px;
        transition: all 0.3s;
        width: 110px;
      }

      .showTime {
        width: 100px !important;
      }
    }

    @media screen and (max-width: 600px) {
      font-size: 14px;
      .clock .text {
        width: 0px;
        overflow: hidden;
      }
      .userDropdown .text {
        width: 50px;
      }
    }
  }
}

.menuItem {
  line-height: initial;
}
