.routeContent {
  position: absolute;
  left: 180px;
  top: 0;
  bottom: 0;
  right: 0;
  background: #f3f3f3;
  padding: 16px;
  overflow: auto;
  &>div {
    height: 100%;
    width: 100%;
  }
}

.fade-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: 800ms ease-out;
}

.fade-exit{
  opacity: 1;
  transform: translateX(0px);
}

.fade-exit.fade-exit-active{
  opacity: 0;
  transform: translateX(-20px);
  transition: 800ms ease-out;
}
