.fade-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 800ms ease-out;
}

.fade-exit {
  opacity: 0;
  transform: translateX(0px);
}

.fade-exit-active {
  opacity: 1;
  transform: translateX(10px);
  transition: all 800ms ease-out;
}
