.footer {
  color: @text-color-lighten;
  text-align: center;

  &.horizontal {
    margin-top: @spacing-middle;
  }
}

.link {
  color: @text-color-lighten;
  cursor: pointer;
  &:hover {
    color: var(--primary);
  }
}
