@import '@style/color.scss';

.footer {
  color: $text-color-secondary;
  margin-bottom: 16px;
  text-align: center;
}

.link {
  color: $text-color-secondary;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}