@mixin iconStyle {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
}

.analysis {
  .titleNanme {
    position: relative;
    text-align: left;
    text-indent: 12px;
    font-weight: normal;
    font-size: 13px;
    margin-top: 5px;
    &::before {
      content: '';
      position: absolute;
      top: 1px;
      bottom: 3px;
      right: 0;
      left: 0;
      border-left: 3px solid $color-primary;
    }
    .iconBar {
      position: absolute;
      right: 10px;
      top: 0px;
      display: flex;
      @include iconStyle;
      i {
        transition: color 0.3s ease;
        &:hover {
          cursor: pointer;
          color: $color-primary;
        }
      }
    }
  }

  .chartDom {
    height: 300px;
    width: 100%;
  }
  .controlHead {
    margin-bottom: 24px;
    overflow: auto;
    .ant-card-head {
      min-width: 580px;
    }
    .headerContent {
      display: flex;
      align-items: center;
      & > i {
        @include iconStyle;
        margin-right: 8px;
      }
    }
    .headerTextSpan {
      font-size: 13px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.65);
      margin-right: 16px;
      &.rightSpace {
        font-size: 12px;
        i {
          margin-left: 8px;
          color: $color-primary;
          cursor: pointer;
        }
      }
    }
  }
}
