.settingIcon {
  height: 52px;
  width: 48px;
  background-color: $color-white;
  position: absolute;
  right: 300px;
  top: 220px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
  line-height: 56px;
  text-align: center;
  cursor: pointer;
  box-shadow: $shadow-gray;
}

.settingDrawer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100%;

  &.opened {
    width: 100% !important;

    .drawerWrapper {
      transform: translateX(0);
    }

    .settingIcon {
      box-shadow: unset;
    }

    .drawerMask {
      opacity: 1;
      width: 100%;
      // height: 100%;
      // opacity: 1;
      // transition: none;
      // animation: antdDrawerFadeIn .3s cubic-bezier(.7,.3,.1,1);
    }
  }

  .drawerMask {
    background-color: $color-text-secondary;
    opacity: 0;
    height: 0;
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.3s, width 0.3s;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 0;
    // background-color: rgba(0,0,0,.45);
    // opacity: 0;
    // transition: opacity .3s linear,height 0s ease .3s;
  }

  .drawerWrapper {
    transform: translateX(100%);
    position: absolute;
    right: 0;
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);

    .drawerBody {
      height: 100vh;
      max-height: 100vh;
      width: 300px;
      background-color: $color-white;
      padding: $spacing-large;
    }
  }

  .closeIcon {
    position: absolute;
    top: $spacing-large;
    right: $spacing-large;
    cursor: pointer;
    font-size: 16px;
    color: $color-text-secondary;
    transition: color 0.3s;
    font-weight: bold;
    z-index: 998;

    &:hover {
      color: $color-text;
    }
  }

  .settingRow {
    position: relative;
    margin-bottom: $spacing-large;

    .settingTitle {
      margin-bottom: $spacing-middle;
      font-size: 14px;
      font-weight: bold;

      .tip {
        color: lighten($color-black, 76.7%);
        font-size: 12px;
        margin-left: $spacing-small;
      }
    }
  }

  .navigateMode {
    img {
      @extend .sampleImg;
    }
  }

  .layoutMode {
    img {
      @extend .sampleImg;
      border-radius: 5px;
      padding: 5px;
      box-shadow: $shadow-gray;
    }

    &.disabled {
      img {
        cursor: not-allowed;
      }
    }

    .selectedIcon {
      top: 58px !important;
    }
  }

  .navigateMode,
  .layoutMode {
    .selectedIcon {
      color: $color-primary;
      font-size: 16px;
      position: absolute;
      pointer-events: none;
      top: 52px;
      left: 28px;

      &.rightPlace {
        left: 88px;
      }
    }
  }

  .contentSetting {
    .settingItem {
      padding: $spacing-middle 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .settingLabel {
        color: $color-text;
        font-weight: 400;
        font-size: 14px;
      }

      .settingAction {
        margin: 0;
        width: 80px !important;
      }
    }
  }
}

.sampleImg {
  margin-right: $spacing-normal;
  cursor: pointer;
  width: 48px;
  height: 42px;
}

// @keyframes antdDrawerFadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
