.container {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;

  &.splitLayout {
    display: flex;
    flex-direction: row;

    &.withoutHeader .routeContent {
      margin-top: 0;
    }

    .routeContent {
      flex: 1 1;
      margin-top: 60px;
      position: static;
      display: flex;
      flex-direction: column;
    }
  }

  &.inlineLayout {
    &.withoutHeader .routeContent {
      top: 0px !important;
    }

    .routeContent {
      overflow: hidden;
      top: 60px;
      flex-direction: row;

      &.isMobile {
        padding-left: 0;
      }

      & > .inlineContainer {
        width: 100%;
        padding: $spacing-large;
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex: 1;

        & > .viewBody {
          width: 100%;
          flex: auto;
        }
      }
    }
  }

  .routeContent {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: $color-white-dark;
    overflow: auto;
    transition: all 0.3s;
    display: flex;
    flex: auto;

    &.isMobile {
      left: 0;
    }

    & > .viewBody {
      width: 100%;
      padding: $spacing-large;
      flex: auto;
    }
  }
}

.horizontalContainer {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 60px;
  background: $color-white-dark;

  .routeContent {
    padding: $spacing-large;
    overflow: auto;
    height: calc(100vh - 60px);
  }

  .viewBody {
    margin: 0 auto;
    max-width: 1250px;
  }
}

.layoutSetting {
  position: fixed;
  right: 0px;
  top: 120px;
  background: $color-white;
  padding: $spacing-small;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: $shadow-gray;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  transition: transform 0.3s;
  transform: translateX(140px);

  &.openSetting {
    transform: translateX(10px);
  }

  .settingIcon {
    cursor: pointer;
  }

  .layoutSettingPanel {
    width: 140px;
    height: 50px;
    background: $color-white;
    padding-left: $spacing-normal;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    label {
      margin: 0;
    }
  }
}
