@import '@style/color.scss';

.navigator {
  height: 100%;
  width: 180px;
  background: #ffffff;
  position: absolute;
  left: 0;
  box-shadow: 0px 0px 28px $color-primary-low;
  // z-index: 101;
  .controlBut {
    width: 180px;
    height: 60px;
    line-height: 60px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 23px;
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0 1px 9px -3px rgba(0,0,0,.2);
    i {
      color: #909090;
      font-size: 20px;
    }
  }
  .myMenu {
    border: 0;
    li {
      margin: 0 !important;
      text-align: left;
      &:hover {
        color: $color-primary-sec;
        .ant-menu-submenu-title {
          color: inherit;
        }
        .ant-menu-submenu-arrow {
          &::before,&::after {
            background: linear-gradient(to right, $color-primary-sec, $color-primary-sec);
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border-left: 4px solid $color-primary;
        transform: scaleY(0.0001);
        opacity: 0;
        transition: transform 0.15s;
      }
      &.ant-menu-item-selected {
        background-color: #f4f4f4;
        color: $color-primary-sec;
        position: relative;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          display: none;
          border-right: 0;
        }
      }
    }
  }
}
