@import '@style/color.scss';

.routeContent {
  position: absolute;
  left: 180px;
  top: 60px;
  bottom: 0;
  right: 0;
  background: $color-white-dark;
  padding: 24px;
  overflow: auto;
  &>div {
    height: 100%;
    width: 100%;
  }
}
