@import '@style/color.scss';

.routeContent {
  position: absolute;
  left: 255px;
  top: 0px;
  bottom: 0;
  right: 0;
  background: $color-white-dark;
  padding-top: 60px;
  overflow: hidden;
  transition: all 0.3s;
  &.collapsed {
    left: 80px;
  }
  &>div:not(.header) {
    height: 100%;
    width: 100%;
    padding: 24px;
  }
}
